.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 50px;

  border: 1px solid #e0e0e0;

  background: linear-gradient(to left, #0d0d0d, #222222);
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form_group label {
  margin-bottom: 0.5rem;
  color: #e0e0e0;
}
